/COPYING
/ChangeLog
/Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache
/build-aux/*
!/build-aux/config.ld.in
/configure
/config.log
/config.status
/doc
/luarocks
/luarocks-config.lua
/release-notes-*
/rrtlib-*.tar.gz
/travis.yml.in
/.autom4te.cfg
/*.rockspec
/.gitmodules
/GNUmakefile
